<nav class="navbar flex sticky header-animate">
  <div class="navbar__left flex">
    <div class="navbar__left__logo">
      <a href="/">
        <img class="logo" src="images/icons/logo.png" alt="logo" />

      </a>
    </div>
    <div class="navbar__left__menu">
      <ul class="flex">
        <li><a href="/" class="ancher">Overview</a></li>
        <li><a href="/products" class="ancher">product</a></li>
        <li><a href="/recipes" class="ancher">Recipe</a></li>
        <li><a href="/#contactForm" class="ancher">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar__right flex">
    <div class="navbar__right__search">
      <!-- <input type="search" name="" id="" /> -->
      <a class="navbar-icon" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
    </div>
    <div class="navbar__right__cart">
      <a class="navbar-icon" href="#"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>
    <div class="navbar__right__profile">
      <a class="navbar-icon" href="/profiles"><i class="fa-solid fa-user"></i></a>
    </div>
    <div class="navbar__right__theme">
      <a class="navbar-icon" href="#"><i class="fa-solid fa-moon"></i></a>
    </div>
  </div>
</nav>