<div id="contact" class="contact__form__container flex">
  <div class="contact__form__left">
    <div class="contact-form-image-wrapper">
      <img
        src="/images/icons/logo-large.png"
        alt=""
        class="contact-form-image"
      />
    </div>
  </div>
  <div class="contact__form__right">
    <form action="" class="contact-form">
      <div class="form-top">
        <h1 class="heading heading2">Start the conversation</h1>
        <p class="form-p">
          We have a feeling this is the beginning of a beautiful (professional)
          friendship.
        </p>
      </div>
      <div class="form-bottom">
        <div class="form-row">
          <div class="form-group">
            <label for="name" class="form-name">Name</label>
            <input
              type="text"
              name="name"
              id=""
              placeholder="Enter your name"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="email" class="form-email">Email</label>
            <input type="text" name="email" id="" placeholder="Email" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="message" class="form-message">Message</label>
            <textarea
              name="message"
              id=""
              cols="30"
              rows="1"
              placeholder="Write your message"
            ></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
