<footer class="footer">
    <div class="footer_subheading_cont flex">
        <p class="title">Connect with us</p>
        <p class="title">Design & Develop</p>
    </div>

    <div class="lower_footer_details flex">
        <div class="footer_social_icon tag__wrapper flex">
            <span class="tag">
                <a href="">
                    <img src="/images/icons/facebook-footer.png" alt="">
                </a>
            </span>
            <span class="tag">
                <a href="">
                    <img src="/images/icons/twitter-footer.png" alt="">
                </a>
            </span>
            <span class="tag">
                <a href="">
                    <img src="/images/icons/instagram-footer.png" alt="">
                </a>
            </span>
        </div>

        <div class="footer-logo flex">
            <img src="/images/icons/logo.png" alt="" class="logo">
            <p class="copyright">2022 food harvest, corp</p>
        </div>

        <div class="footer_agency_logo review-tag-wrapper flex">
            <span class="tag review-tag a-tag">
                <a href="" class="flex">
                    <span>
                        <img src="/images/icons/instagram-footer.png" alt="">
                    </span>
                    <span>
                        Eminent
                    </span>
                </a>
            </span>
            <span class="tag review-tag a-tag">
                <a href="" class="flex">
                    <span>
                        <img src="/images/icons/instagram-footer.png" alt="">
                    </span>
                    <span>
                        Eloquence
                    </span>
                </a>
            </span>
        </div>
    </div>

</footer>