<div class="title-container">
  <p class="title">products</p>
</div>
<div class="recipe__container grid">
  <div class="recipe__container__left">
    <div class="recipe">
      <div class="recipe__name to-top">
        <h1 class="heading heading2">Stainless Steel Food Dehydrator</h1>
      </div>
    </div>

    <div class="price-and-stars flex to-top">
      <p class="price">$166</p>
      <div class="stars"></div>
    </div>

    <div class="stats to-top">
      <p>
        Turn ordinary food into long-lasting savory snacks with Food Harvest’s
        Premium Stainless Steel Food Dehydrator.
      </p>
    </div>
    <div class="stats to-top">
      <p>
        Whether you’re making dried fruit, beef jerky, or preserving herbs, the
        possibilities are endless.
      </p>
    </div>

    <div class="tag__container to-top">
      <p class="title">Perks</p>
      <div class="tag__wrapper flex to-top">
        <span class="tag">free shipping</span>
        <span class="tag">30-Day Money Back Guarantee</span>
        <span class="tag">more then 23 countries delivery</span>
      </div>
    </div>
  </div>
  <div class="recipe__container__right">
    <div class="home-page-image-wrapper to-top">
      <img class=" to-top" src="/images/products/stainless-steel-dehydrator.png" alt="image" />
    </div>
  </div>
</div>