<div class="title-container">
  <p class="title">products</p>
</div>
<div class="review__container grid">
  <div class="review__container__left">
    <div class="recipe">
      <div class="recipe__name to-top">
        <div class="date">05/20/22</div>
        <h1 class="heading heading2">Elizabeth Carter</h1>
      </div>
    </div>

    <div class="price-and-stars flex to-top">
      <p class="price">&#8203;</p>
      <div class="stars"></div>
    </div>

    <div class="stats to-top">
      <p>
        What a great juice making machine! I’ve made three batches so far of my
        “Ginger Lemon Blast” and my Greenstar Elite performs flawlessly.
      </p>
    </div>
    <div class="stats to-top">
      <p>
        And there so much juice. I was skeptical about paying the price but it
        was totally worth it. Clean up is a breeze as well. Great product
      </p>
    </div>

    <div class="review-vote to-top">
      <p class="title">Was This Review Helpful?</p>
      <div class="review-tag-wrapper flex">
        <div class="tag review-tag tag-active flex to-top">
          <img src="/images/icons/thumbs-up.png" alt="" />
          <div class="dot-wrapper flex">
            <div class="dot"></div>
            <p>7</p>
          </div>
        </div>
        <div class="tag review-tag flex to-top">
          <img src="/images/icons/thumbs-down.png" alt="" />
          <div class="dot-wrapper flex">
            <div class="dot"></div>
            <p>0</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="review__container__right">
    <div class="home-page-image-wrapper to-top">
      <img class="to-top" src="/images/review-image1.png" alt="image" />
    </div>
  </div>
</div>