.contact__form__container.flex {
  gap: 4.75rem;
}
.contact-form-image-wrapper {
  max-height: 59.25rem;
  max-width: 50.25rem;
}

.form-top {
  max-width: 36.5rem;
}
.form-p {
  color: $light;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 1.9rem;
  line-height: 150%;
  /* or 36px */

  margin-top: 4.25rem;
}

.form-bottom {
  margin-top: 4.75rem;
}

.form-row {
  margin-top: 2.75rem;
}

.form-group {
  width: 43.5rem;
}
