<!-- head -->
<%- include("../partials/header") -%>

<!-- navbar -->
<%- include("../partials/navbar") -%>

<section class="about-wrapper page-start">
    
    <h1 class="heading heading2">About</h1>
    
    <div class="stats">
        <p>Future Harvest Food Industries</p>
    </div>
    
    <div class="">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus accusamus rerum earum repellendus suscipit cumque obcaecati autem quidem ut mollitia consectetur, dolorum dicta nesciunt? Vitae, nobis! Exercitationem enim aliquid perferendis commodi alias, earum mollitia ut eligendi porro eveniet excepturi tenetur nihil cumque laborum molestiae qui animi, eius labore unde! Nesciunt!</p>
    </div>
    
    <div class="stats">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident quo deleniti assumenda reprehenderit consectetur! Eligendi distinctio corporis nam vitae nobis totam, voluptas maiores itaque magnam, numquam at consequatur ipsum placeat.</p>
    </div>
    
    <div class="stats">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, asperiores! Dolorum temporibus, omnis eius hic ex porro. Quisquam eligendi facere odit voluptates eius commodi temporibus, et ratione ipsa.</p>
    </div>
    
    <div class="stats">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dolorem nam ad consequatur ipsam sint?</p>
    </div>
    
</section>

<!-- foot -->
<%- include("../partials/bodyFooter") -%>