@mixin navbarHoverAnimation {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@mixin navbarScrollAnimation {
  -webkit-transition: all 0.8s cubic-bezier(0.25, 1, 0.25, 1);
  transition: all 0.8s cubic-bezier(0.25, 1, 0.25, 1);
}
