$primary: hsla(45, 100%, 82%, 1);
$primary-dark: hsla(30, 6%, 25%, 1);
$light: hsla(0, 0%, 100%, 1);
$dark: hsla(0, 0%, 8%, 1);
$gray4: hsla(0, 0%, 100%, 0.4);
$gray6: hsla(0, 0%, 100%, 0.6);
$navbar-dark: hsla(0, 0%, 10%, 0.72);
$navbar-icons-hover-dark: hsla(0, 0%, 13%, 1);
$navbar-icons-hover-light: hsla(0, 0%, 94%, 1);
$navbar-icons-hover-light: hsla(0, 0%, 94%, 1);

$checkout-button-border: hsla(0, 0%, 100%, 0.06);
$checkout-button-background: hsla(248, 100%, 82%, 0.04);

$product-color-light: hsla(0, 100%, 100%, 1);
$product-color-dark: hsla(0, 0%, 14%, 1);

